<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.mappers.mariadb.AuthMapper">
    <select id="findUserByLoginParam" resultType="Account">
      SELECT
        USER_SEQNO
        , LOGIN_ID
        , PWD
        , USER_NAME
        , PHONE_NO
        , EMAIL
        , SEX
        , BIRTH
        , USER_STATUS
        , RGST_DTM
        , UPDT_DTM
        , ROLE
      FROM
        USER
      WHERE
        LOGIN_ID = #{loginId}
    </select>
</mapper>